@charset "UTF-8";
.btn-primary {
	color: #fff;
 	background-color: #00a663;
 	border-color: #00a663;
}
.btn-primary:hover {
	color: #fff;
 	background-color: rgb(0, 128, 64);
 	border-color: rgb(0, 128, 64);
}
.btn-primary:focus,
.btn-primary:active{
	color: #fff;
 	background-color: rgb(0, 128, 0);
 	border-color: rgb(0, 128, 0);
}
.row > .table-striped > a:hover{
	background-color: #00a663;
 	border-color: #00a663;
}
.login-top-img{
	padding: 100px;
}
.dropdown-menu > .active > a{
	background-color: #ffffff;
	color: #00a663;
}
.dropdown-menu > .active > a:hover{
	background-color: #00a663;
}
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:active{
	background-color: #008040;
}
#intro-IT{
	font-size: 15px;
}
.pull-left,
.pull-right{
	margin: 0px 5px;
}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #afafaf77;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #afafaf77;
}
.table-hover > tbody > tr:hover {
  background-color: #afafaf77;
}